<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>24Hour User.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>042029E7227C28D3009DDF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042029FB227C28D4009DDF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04202A06227C28D4009DDF12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
